.elementor-1297 .elementor-element.elementor-element-1922836f {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --overlay-opacity: 0.37;
}

.elementor-1297 .elementor-element.elementor-element-1922836f:not(.elementor-motion-effects-element-type-background),
.elementor-1297 .elementor-element.elementor-element-1922836f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../images/rabbit/FORTUNE-RABIT-FUNDO.webp");
}

.elementor-1297 .elementor-element.elementor-element-1922836f::before,
.elementor-1297 .elementor-element.elementor-element-1922836f>.elementor-background-video-container::before,
.elementor-1297 .elementor-element.elementor-element-1922836f>.e-con-inner>.elementor-background-video-container::before,
.elementor-1297 .elementor-element.elementor-element-1922836f>.elementor-background-slideshow::before,
.elementor-1297 .elementor-element.elementor-element-1922836f>.e-con-inner>.elementor-background-slideshow::before,
.elementor-1297 .elementor-element.elementor-element-1922836f>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-image: url("../images/FORTUNE-FUNDO.webp");
    background-position: center center;
    background-repeat: repeat-x;
}

.elementor-1297 .elementor-element.elementor-element-1922836f,
.elementor-1297 .elementor-element.elementor-element-1922836f::before {
    --border-transition: 0.3s;
}

.elementor-1297 .elementor-element.elementor-element-71c3c1bf {
    --display: flex;
    --gap: 10px 10px;
    --overflow: hidden;
    --background-transition: 0.3s;
}

@media(max-width:767px) {

    .elementor-1297 .elementor-element.elementor-element-1922836f::before,
    .elementor-1297 .elementor-element.elementor-element-1922836f>.elementor-background-video-container::before,
    .elementor-1297 .elementor-element.elementor-element-1922836f>.e-con-inner>.elementor-background-video-container::before,
    .elementor-1297 .elementor-element.elementor-element-1922836f>.elementor-background-slideshow::before,
    .elementor-1297 .elementor-element.elementor-element-1922836f>.e-con-inner>.elementor-background-slideshow::before,
    .elementor-1297 .elementor-element.elementor-element-1922836f>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
        background-size: cover;
    }

    .elementor-1297 .elementor-element.elementor-element-6757f91d {
        z-index: 999;
    }
}

@media(min-width:768px) {
    .elementor-1297 .elementor-element.elementor-element-1922836f {
        --content-width: 550px;
    }
}

@media(min-width:1025px) {

    .elementor-1297 .elementor-element.elementor-element-1922836f::before,
    .elementor-1297 .elementor-element.elementor-element-1922836f>.elementor-background-video-container::before,
    .elementor-1297 .elementor-element.elementor-element-1922836f>.e-con-inner>.elementor-background-video-container::before,
    .elementor-1297 .elementor-element.elementor-element-1922836f>.elementor-background-slideshow::before,
    .elementor-1297 .elementor-element.elementor-element-1922836f>.e-con-inner>.elementor-background-slideshow::before,
    .elementor-1297 .elementor-element.elementor-element-1922836f>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
        background-attachment: fixed;
    }
}