.elementor-1283 .elementor-element.elementor-element-30ab66ef {
    --display: flex;
    --min-height: 100vh;
    --flex-direction: column;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --align-items: center;
    --background-transition: 0.3s;
    --overlay-opacity: 0.51;
    --padding-block-start: 0rem;
    --padding-block-end: 0rem;
    --padding-inline-start: 1rem;
    --padding-inline-end: 1rem;
}

.elementor-1283 .elementor-element.elementor-element-30ab66ef:not(.elementor-motion-effects-element-type-background),
.elementor-1283 .elementor-element.elementor-element-30ab66ef>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #13021FBD;
    background-image: url("../images/rabbit/FORTUNE-RABIT-FUNDO.webp");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1283 .elementor-element.elementor-element-30ab66ef::before,
.elementor-1283 .elementor-element.elementor-element-30ab66ef>.elementor-background-video-container::before,
.elementor-1283 .elementor-element.elementor-element-30ab66ef>.e-con-inner>.elementor-background-video-container::before,
.elementor-1283 .elementor-element.elementor-element-30ab66ef>.elementor-background-slideshow::before,
.elementor-1283 .elementor-element.elementor-element-30ab66ef>.e-con-inner>.elementor-background-slideshow::before,
.elementor-1283 .elementor-element.elementor-element-30ab66ef>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-color: #000000;
    background-image: url("../images/FORTUNE-FUNDO.webp");
    background-repeat: repeat-x;
}

.elementor-1283 .elementor-element.elementor-element-30ab66ef,
.elementor-1283 .elementor-element.elementor-element-30ab66ef::before {
    --border-transition: 0.3s;
}

.elementor-1283 .elementor-element.elementor-element-77a7bb2b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
    --overlay-opacity: 0.35;
}

.elementor-1283 .elementor-element.elementor-element-77a7bb2b::before,
.elementor-1283 .elementor-element.elementor-element-77a7bb2b>.elementor-background-video-container::before,
.elementor-1283 .elementor-element.elementor-element-77a7bb2b>.e-con-inner>.elementor-background-video-container::before,
.elementor-1283 .elementor-element.elementor-element-77a7bb2b>.elementor-background-slideshow::before,
.elementor-1283 .elementor-element.elementor-element-77a7bb2b>.e-con-inner>.elementor-background-slideshow::before,
.elementor-1283 .elementor-element.elementor-element-77a7bb2b>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-color: transparent;
    background-image: radial-gradient(at center center, #0EFF006B 0%, #F2295B00 48%);
}

.elementor-1283 .elementor-element.elementor-element-19be3802 {
    --display: flex;
    --background-transition: 0.3s;
}

@media(min-width:768px) {
    .elementor-1283 .elementor-element.elementor-element-30ab66ef {
        --content-width: 1280px;
    }

    .elementor-1283 .elementor-element.elementor-element-77a7bb2b {
        --content-width: 500px;
    }

    .elementor-1283 .elementor-element.elementor-element-19be3802 {
        --content-width: 863px;
    }
}

@media(min-width:1025px) {

    .elementor-1283 .elementor-element.elementor-element-30ab66ef:not(.elementor-motion-effects-element-type-background),
    .elementor-1283 .elementor-element.elementor-element-30ab66ef>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}

@media(max-width:1024px) {
    .elementor-1283 .elementor-element.elementor-element-77a7bb2b {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
    }
}

@media(max-width:767px) {
    .elementor-1283 .elementor-element.elementor-element-77a7bb2b {
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px;
    }

    .elementor-1283 .elementor-element.elementor-element-59f269e {
        z-index: 999;
    }
}