.elementor-604 .elementor-element.elementor-element-089cbcb {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --overlay-opacity: 0.5;
}

.elementor-604 .elementor-element.elementor-element-089cbcb::before,
.elementor-604 .elementor-element.elementor-element-089cbcb>.elementor-background-video-container::before,
.elementor-604 .elementor-element.elementor-element-089cbcb>.e-con-inner>.elementor-background-video-container::before,
.elementor-604 .elementor-element.elementor-element-089cbcb>.elementor-background-slideshow::before,
.elementor-604 .elementor-element.elementor-element-089cbcb>.e-con-inner>.elementor-background-slideshow::before,
.elementor-604 .elementor-element.elementor-element-089cbcb>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-image: url("../images/rabbit/FORTUNE-RABIT-FUNDO.webp");
    background-repeat: repeat-x;
}

.elementor-604 .elementor-element.elementor-element-5efcaaa {
    --display: flex;
    --gap: 10px 10px;
    --overflow: hidden;
    --background-transition: 0.3s;
}

@media(max-width:767px) {

    .elementor-604 .elementor-element.elementor-element-089cbcb::before,
    .elementor-604 .elementor-element.elementor-element-089cbcb>.elementor-background-video-container::before,
    .elementor-604 .elementor-element.elementor-element-089cbcb>.e-con-inner>.elementor-background-video-container::before,
    .elementor-604 .elementor-element.elementor-element-089cbcb>.elementor-background-slideshow::before,
    .elementor-604 .elementor-element.elementor-element-089cbcb>.e-con-inner>.elementor-background-slideshow::before,
    .elementor-604 .elementor-element.elementor-element-089cbcb>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
        background-size: cover;
    }

    .elementor-604 .elementor-element.elementor-element-4b7020b {
        z-index: 999;
    }
}

@media(min-width:768px) {
    .elementor-604 .elementor-element.elementor-element-089cbcb {
        --content-width: 550px;
    }
}